*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(181, 176, 184);
}
#titulo{
    color: rgb(38, 39, 27);
    font-family: "Arial";
    text-align: center;
    margin-top: 20px;
}
form{
    background-color: beige;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border-radius: 40px;
    padding: 50px 10px;
    text-align: center;
}
#welcome{
    font-family: "Arial";
    font-size: 20pt;
    font-weight: bolder;
    margin-bottom: 20px;
}
label{
    display: block;
    text-align: left;
    font-family: "arial";
    font-size: 10pt;
    font-weight: bold;
}
input[type=email],input[type=password]{
    width: 95%;
    padding: 10px;
    border: 0;
    border-radius: 40px;
    margin-bottom: 10px;
    background-color: #ddd;
    outline-color: rgb(143, 32, 24);

}
#lembrete{
    width: 95%;
    display: flex;
}
#lembrete span:nth-of-type(2){
    font-family: "arial";
    font-size: 10pt;
    width: 40%;
    text-align: right;
    color: blue;
}
#lembrete span:nth-of-type(1){
    font-family: "arial";
    font-size: 10pt;
    width: 30%;
}
input[type=button]{
    width: 95%;
    background-color: blue;
    color: #fff;
    padding: 20px;
    border: 0;
    border-radius: 50px;
    margin-top: 40px;
    font-size: 15pt;
    text-transform: capitalize;
}